# Day 02: Categorical Variables

Note: for many of these questions, once you produce crosstabs or value_counts, you could compute proportions by hand. However, try to compute them using Pandas to get more practice. (Though you are welcome to compute things like percentage change by hand.)

## OKCupid data

Recall the OKCupid data set "https://raw.githubusercontent.com/kevindavisross/data301/main/data/okcupid.csv" which contains a sample of user profiles in the San Francisco Bay Area from the online dating website
OKCupid. Each observation is an OKCupid user.

1\. Make a table and plot summarizing the drinks variable. (What do you think is the most reasonable ordering of categories?)

In [ ]:
# YOUR CODE HERE

2\. Create a new variable that indicates whether the user has, likes, or dislikes cats. Then make a table and plot summarizing its distribution.

In [ ]:
# YOUR CODE HERE

3\. Create a table and plot that summarizes the relationship between two categorical variables in this data set. You can pick the variables, and you are welcome to define new ones (like the cats variable).

In [ ]:
# YOUR CODE HERE

4\. Write a clearly worded sentence or two summarizing the results of your analysis from the previous part in context.

**YOUR RESPONSE HERE.**

## Titanic data

Recall that we defined the **type** variable with levels passenger or crew.

In [ ]:
df_titanic = pd.read_csv("https://raw.githubusercontent.com/kevindavisross/data301/main/data/titanic.csv")

def class_to_type(c):
  if c in ["1st", "2nd", "3rd"]:
    return "passenger"
  else:
    return "crew"

df_titanic["type"] = df_titanic["class"].map(class_to_type)

df_titanic

1\. What proportion of those onboard were male crewmembers? Use Python to compute.

In [ ]:
# YOUR CODE HERE

2\. What proportion of males were crewmembers? Use Python to compute.

In [ ]:
# YOUR CODE HERE

3\. What proportion of crewmembers were male? Use Python to compute.

In [ ]:
# YOUR CODE HERE

4\.  Make a table and plot summarizing the relationship between type and survived that will allow you to answer the question: Which type was more likely to survive?

In [ ]:
# YOUR CODE HERE

5\. Which type was more likely to survive? How much more likely? Write a clearly worded sentence in response to this question.

**YOUR RESPONSE HERE.**

6\. Now consider females only. Make a table and side-by-side bar chart comparing the proportions who survive or not between passenger and crew (among females only).

In [ ]:
# YOUR CODE HERE

7\. Among females, which type was more likely to survive? How much more likely? Write a clearly worded sentence in response to this question.

**YOUR RESPONSE HERE.**

8\. Now consider males only. Make a table and stacked bar chart comparing the proportions who survive or not between passenger and crew (among males only). (The only reason we're doing stacked here and side-by-side above is to give you practice with each.)

In [ ]:
# YOUR CODE HERE

9\. Among males, which type was more likely to survive? How much more likely? Write a clearly worded sentence in response to this question.

**YOUR RESPONSE HERE.**

10\. Review your responses to part 4-9. Notice anything strange? Why do you think this happens? (We'll investigate further in the next class.)

**YOUR RESPONSE HERE.**

## Comparing COVID Fatalities

Now we will compare COVID fatalities in Portugal (https://raw.githubusercontent.com/kevindavisross/data301/main/data/portugal_2020-05-28.csv) and Colombia (https://raw.githubusercontent.com/kevindavisross/data301/main/data/colombia_2020-05-28.csv) using data from both countries on May 28, 2020. Recall that we cleaned the Colombia data to match the formatting of the Portugal data.

In [ ]:
df_PT = pd.read_csv("https://raw.githubusercontent.com/kevindavisross/data301/main/data/portugal_2020-05-28.csv")
df_PT

In [ ]:
df_CO = pd.read_csv("https://raw.githubusercontent.com/kevindavisross/data301/main/data/colombia_2020-05-28.csv")

df_CO["fatality"] = df_CO["Estado"].map({
    "Fallecido": 1
}).fillna(0)

df_CO["age"] = pd.cut(
    df_CO["Edad"],
    bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, 120],
    labels=["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+"],
    right=False)

# Look for new columns called "fatality" and "age" in the DataFrame.
df_CO

1\. Make a table and plot of the distribution of the fatality variable for Portugal.

In [ ]:
# YOUR CODE HERE

2\. Make a table and plot of the distribution of the fatality variable for Colombia.

In [ ]:
# YOUR CODE HERE

3\. Write a clearly worded sentence comparing the overall fatality rates for the two countries.

**YOUR RESPONSE HERE.**

4\. Calculate the fatality rates for each age group in Portugal, and plot them. Save the results in a `Series` called `fatality_rates_PT`. For this, we are only interested in the proportion of fatalities (1s, and not 0s).

In [ ]:
# YOUR CODE HERE

5\. Calculate the fatality rates for each age group in Colombia, and plot them. Save the results in a `Series` called `fatality_rates_CO`. For this, we are only interested in the proportion of fatalities (1s, and not 0s).

In [ ]:
# YOUR CODE HERE

6\. Make a single bar plot comparing the fatality rates for each age group in Colombia and Portugal.

*Hint:* You will want to get the Colombia and Portugal results into a single `DataFrame` for plotting. You can stack multiple Pandas objects into one `DataFrame` using the `pd.concat([...], axis=...)`. You can access the documentation for a function by typing `?pd.concat` in a cell and running it, or by searching on Google.

In [ ]:
# YOUR CODE HERE

 7\. Do you notice anything strange? (Hint: Compare your answers to parts 3 and 6.) Can you explain what is going on? (We'll investigate further next time.)

**YOUR RESPONSE HERE.**