In this notebook you will complete and submit some of the exercises from the the in class notebooks from Day 19 (time series), Day 20 ($k$-means clustering), and Day 21 (hierarchical clustering).

## Austin Weather

**This is the Austin Weather exercise from the [Day 19 in class notebook](https://colab.research.google.com/drive/1Ink3ORPg_0r8qQDdf6wnKaF2hurkZJ7R?usp=sharing). If you already completed that notebook, you can just copy your work here.**

The Austin weather data set (https://dlsun.github.io/pods/data/austin_weather_2019.csv ) contains hourly measurements of the weather in Austin, TX in 2019. This data set was collected from the [NOAA](https://www.ncdc.noaa.gov/crn/qcdatasets.html). See the [data documentation](https://www1.ncdc.noaa.gov/pub/data/uscrn/products/hourly02/README.txt) for more information.

1\. Read in the data set. The date of the measurement is contained in **LST_DATE**, the time in **LST_TIME**, and the  Plot the hourly temperature (degrees Celsisu) in **T_HR_AVG**. Convert the date and time columns into a single Pandas `datetime` and set that column as the index.

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

2\. Create a line plot of temperature over time. Notice any problems? Why do you think this occurs?

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

3\. Fix the missing values and redo the line plot. Describe what you see.

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

4\. The hourly temperature plot is extremely noisy. Plot the daily average temperature, and then the weekly average temperature. What is the advantage of these plots?

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

5\. Model the overall trend using a polynomial. Create a plot of the hourly data with the trend superimposed. Hint: you'll need to convert datetimes to decimal like in the reading, but now we're dealing with hourly data.

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

6\. Use your model to forecast the average temperature on January 1, 2020 at midnight in Austin, TX.

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

7\. Now fit a model that includes both the polynomial trend and a seasonal component for the daily fluctuations in temperature. Create a plot of the hourly data with the trend superimposed.

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

8\. Use the revised model to forecast the average temperature on January 1, 2020 at midnight in Austin, TX.

In [ ]:
# YOUR CODE HERE. ADD CELLS AS NEEDED

## Titanic Data

**This is the Titainic data exercise from the Day 20 in class notebook. If you already completed that notebook, you can just copy your work here. HOWEVER, see the question below about summarizing your cluster profiles.**

Use $k$-means to cluster the Titanic passengers into $k$ clusters. You are free to choose the number of clusters $k$, but try at least two different values of $k$. You are also free to choose the features to include, but be sure to include both categorical and quantitative features.

Summarize the results to create "profiles" of the passengers in each cluster. Can you come up with an "interpretation" of each cluster based on the passengers in it?

Note: before we have classified the passengers based on whether or not they survived, but here we are just trying to cluster the passengers; we're not necessarily trying to predict whether they survived or died.

In [ ]:
df_titanic = pd.read_csv("https://dlsun.github.io/pods/data/titanic.csv ")

df_titanic = df_titanic.dropna(subset = ["age"])

In [ ]:
# ENTER YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

**WRITE A SHORT PARAGRAPH SUMMARIZING IN CONTEXT YOUR CLUSTER PROFILES HERE. BE SURE TO THAT YOUR INTERPRETATIONS ARE SUPPORTED WITH RELEVANT DESCRIPTIVE STATISTICS (PLOTS, TABLES, ETC)**

## Ames Housing Data

**This is the Ames housing data exercise from the Day 21 in class notebook. If you already completed that notebook, you can just copy your work here. HOWEVER, see the question below about summarizing your cluster profiles.**

Use clustering to cluster the Ames housing data. You should try both $k$-means and hierarchical clustering. You are free to choose the number of clusters, but try at least two different values. You are also free to choose the features to include, but be sure to include both categorical and quantitative features. See the [data documentation](https://jse.amstat.org/v19n3/decock/DataDocumentation.txt) for all the variables that are available in the data set. For hierarchical clustering, try at least two different linkages

Summarize the results to create "profiles" of the houses in each cluster. Can you come up with an "interpretation" of each cluster based on the houses in it?

In [ ]:
df_ames = pd.read_csv("https://raw.githubusercontent.com/kevindavisross/data301/main/data/AmesHousing.txt", sep="\t")

df_ames

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [ ]:
# ENTER YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

**WRITE A SHORT PARAGRAPH SUMMARIZING IN CONTEXT YOUR CLUSTER PROFILES HERE. BE SURE TO THAT YOUR INTERPRETATIONS ARE SUPPORTED WITH RELEVANT DESCRIPTIVE STATISTICS (PLOTS, TABLES, ETC)**